.boton-contenedor{
    height: 60px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #DFE4E0;
    color: #02060B;
    border-radius: 15px;
    border: 1px solid gray;
    margin: 4px;
    cursor: pointer;
    user-select: none;

}

.operador{
    color: white;
    background-color: #3E6C61;
}

.boton-contenedor:hover{
    background-color: #49545B;
    color: white;
}

.operador:hover{
    background-color: #eb6424;
}